<!DOCTYPE html>
{%load static%}
<html lang="en">
<title>MIKE'S BLOG</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
     body,h1,h2,h3,h4,h5,h6,h7 {font-family: cursive;}
</style>

<header class="w3-container w3-grey w3-center">
    <h1>Mike's Blog</h1>
</header>

<body>

<div class="w3-container w3-grey w3-center">
    <h3>Welcome!!</h3>
    <h4>On this blog,</h4>
    <h4>you can write whatever you want about cryptocurrencies</h4>
</div>

<div class="image">
    <img src="{% static 'media/image1.jpg' %}" alt="image" style="width:100%" class="w3-grayscale-max">
</div>

<div class="w3-bar-center w3-grey w3-center">
    <button class="w3-bar-item w3-button tablink"> <a href="/singUp" style="text-decoration:none">request1</a></button>
    <button class="w3-bar-item w3-button tablink"> <a href="/Post" style="text-decoration:none">request2</a></button>
    <button class="w3-bar-item w3-button tablink"> <a href="/numberOfPosts" style="text-decoration:none">request3</a></button>
    <button class="w3-bar-item w3-button tablink"> <a href="/<username>/<id>" style="text-decoration:none">request4</a></button>
    <button class="w3-bar-item w3-button tablink"> <a href="/postLastHour" style="text-decoration:none">request5</a></button>
    <button class="w3-bar-item w3-button tablink"> <a href="/index/" style="text-decoration:none">request6</a></button>
    <button class="w3-bar-item w3-button tablink"> <a href="/Post/new" style="text-decoration:none">request7</a></button>
    <button class="w3-bar-item w3-button tablink"> <a href="/getClientIp" style="text-decoration:none">request8</a></button>
</div>


</body>


<div class="w3-container w3-margin-bottom">
{%block singUp%}
{%endblock%}
{% block login %}
{% endblock %}
{%block postList%}
{%endblock%}
{% block postEdit %}
{% endblock%}
{%block NumberOfPosts%}
{%endblock%}
{%block profile%}
{%endblock%}
{%block postLastHour%}
{%endblock%}
{%block index%}
{%endblock%}
{% block search %}
{% endblock %}
{%block getClientIp%}
{%endblock%}
</div>

